In [4]:
import pandas

road_info = pandas.read_csv('data/road_info.csv')
tracks_labeled_info= pandas.read_csv('data/tracks_labeled_info.csv')

/opt/anaconda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
road_info.head() # инфа про

,id,maxspeed,lanes,road_type,loc,traffic_signals
0,27717690,NaN,NaN,tertiary,"(55.8905505, 37.4838629)",True
1,27782988,NaN,NaN,residential,"(55.9488892, 37.491486)",True
2,27783036,60,NaN,secondary_link,"(55.9478494, 37.5049753)",False
3,28043165,NaN,4.0,secondary,"(55.8132647, 37.7357472)",True
4,28043605,NaN,4.0,secondary,"(55.8069755, 37.7250039)",True

In [9]:
tracks_labeled_info.describe()

,lat_,lon_,speed,is_aggressive,maxspeed,lanes
count,395687.000000,395687.000000,395686.000000,395687.000000,334.000000,572.000000
mean,55.759051,37.591688,29.051632,0.057538,70.898204,3.218531
std,0.081114,0.118735,25.681580,0.232868,13.325509,1.029923
min,55.148449,36.789222,-199.062361,0.000000,20.000000,1.000000
25%,55.713154,37.527987,8.407059,0.000000,60.000000,2.000000
50%,55.768671,37.580815,22.847514,0.000000,80.000000,3.000000
75%,55.799346,37.648540,45.163636,0.000000,80.000000,4.000000
max,56.358241,38.982746,2023.708235,1.000000,110.000000,6.000000

In [10]:
tracks_labeled_info.head()

,driver_id,dt,lat_,lon_,order_id,speed,is_aggressive,maxspeed,oneway,lanes,surface
0,b76545fa3cc14acd6a69ac13c1edac33,2021-02-09 21:43:41,55.792710,37.545409,001662da857b5a39bb402aacf3145f86,NaN,0.0,NaN,NaN,NaN,NaN
1,b76545fa3cc14acd6a69ac13c1edac33,2021-02-09 21:44:40,55.792013,37.544481,001662da857b5a39bb402aacf3145f86,5.906441,0.0,NaN,no,4.0,asphalt
2,b76545fa3cc14acd6a69ac13c1edac33,2021-02-09 21:45:00,55.791365,37.543695,001662da857b5a39bb402aacf3145f86,15.696000,0.0,NaN,no,4.0,asphalt
3,b76545fa3cc14acd6a69ac13c1edac33,2021-02-09 21:45:20,55.791267,37.543512,001662da857b5a39bb402aacf3145f86,2.862000,0.0,NaN,no,4.0,asphalt
4,b76545fa3cc14acd6a69ac13c1edac33,2021-02-09 21:45:37,55.791175,37.543634,001662da857b5a39bb402aacf3145f86,2.710588,0.0,NaN,NaN,NaN,NaN